<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Bienvenue sur CatSitter !</h1>
            <p>
                Postez votre première annonces dès maintenant...
                <button id="postAnnonces" class="btn btn-secondary">Poster une annonce</button>
            </p>
            <p>
                Ou consultez les dernières annoncess disponibles.
            </p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <% if ((files && files.length > 0) && (annonces && annonces.length > 0)) { %>
            <% for (let i = 0; i < annonces.length; i++) { %>
                <div class="card">
                    <img src="http://localhost:3000/images/<%= files[i] %>" alt="<%= files[i] %>" class="homeImage" />
                    <div class="card-body">
                        Nom: <%= annonces[i].nom %><br />
                        Nombre de chats: <%= annonces[i].nbChats %><br />
                        Date de début: <%= moment(annonces[i].dateDebut).format("DD-MM-YYYY HH:mm") %><br />
                        Date de fin: <%= moment(annonces[i].dateFin).format("DD-MM-YYYY HH:mm") %><br />
                    </div>
                    <a href="#" class="btn btn-primary reponseAnnonces">Répondre à l'annonces</a>
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("postAnnonces").onclick = function () {
        location.href = "/posterAnnonce";
    };
</script>