<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Bienvenue sur CatSitter !</h1>
            <p>
                Postez votre première annonces dès maintenant...
                <a href="/posterAnnonce" class="btn btn-secondary">Poster une annonce</a>
            </p>
            <p>
                Ou consultez les dernières annonces disponibles.
            </p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <% if (typeof(annonces) !== "undefined" && annonces.length > 0) { %>
            <% for (let i = 0; i < annonces.length; i++) { %>
                <div class="card">
                    <img src="<%= annonces[i].nomImage %>" alt="<%= annonces[i].nomImage %>" class="homeImage" />
                    <div class="card-body">
                        <span class="headers">Nom :</span> <%= annonces[i].nom %><br />
                        <span class="headers">Nombre de chats :</span> <%= annonces[i].nbChats %><br />
                        <span class="headers">Lieu de recherche :</span> <%= annonces[i].lieu %><br />
                        <span class="headers">Date de début :</span> <%= moment(annonces[i].dateDebut).format("DD-MM-YYYY HH:mm") %><br />
                        <span class="headers">Date de fin :</span> <%= moment(annonces[i].dateFin).format("DD-MM-YYYY HH:mm") %><br />
                    </div>
                    <a href="/reponseAnnonce/<%= annonces[i].id %>" class="btn btn-primary reponseAnnonce">Répondre à l'annonce</a>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="row justify-content-center">
        <% if (typeof(pages) !== "undefined" && pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>