<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Bienvenue sur CatSitter !</h1>
            <p>
                Postez votre première annonces dès maintenant...
                <a href="/posterAnnonce" class="btn btn-secondary">Poster une annonce</a>
            </p>
            <p>
                Ou consultez les dernières annonces disponibles.
            </p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <% if (annonces && annonces.length > 0) { %>
            <% for (let i = 0; i < annonces.length; i++) { %>
                <div class="card">
                    <img src="http://localhost:3000/images/<%= annonces[i].nomImage %>" alt="<%= annonces[i].nomImage %>" class="homeImage" />
                    <div class="card-body">
                        <span class="headers">Nom :</span> <%= annonces[i].nom %><br />
                        <span class="headers">Nombre de chats :</span> <%= annonces[i].nbChats %><br />
                        <span class="headers">Lieu de recherche :</span> <%= annonces[i].lieu %><br />
                        <span class="headers">Date de début :</span> <%= moment(annonces[i].dateDebut).format("DD-MM-YYYY HH:mm") %><br />
                        <span class="headers">Date de fin :</span> <%= moment(annonces[i].dateFin).format("DD-MM-YYYY HH:mm") %><br />
                    </div>
                    <a href="/reponseAnnonce/<%= annonces[i].id %>" class="btn btn-primary reponseAnnonce">Répondre à l'annonce</a>
                </div>
            <% } %>
        <% } %>
    </div>
</div>